# Allow only members of the scene team to modify the Scene module
/Engine/Scene       @LimpingPebble/scene

# Allow only members of the scene team to modify the Render module
/Engine/Render      @LimpingPebble/render

# Allow only members of the CMake team to modify cmake config files
CMakeLists.txt      gboucett@student.42.fr
*.cmake             gboucett@student.42.fr
/cmake              gboucett@student.42.fr
/CMakePresets.json  gboucett@student.42.fr
