# Allow only members of the CMake team to modify cmake config files
CMakeLists.txt   @LimpingPebble/stone/CMake
*.cmake          @LimpingPebble/stone/CMake
/cmake           @LimpingPebble/stone/CMake

# Allow only members of the scene team to modify the Scene module
/Engine/Scene   @LimpingPebble/stone/scene

# Allow only members of the scene team to modify the Render module
/Engine/Render  @LimpingPebble/stone/render
